#root {
    max-width: 1480px;
}

::-webkit-scrollbar {
    display: none;
}

body {
    overflow: hidden;
    width: 100vw;
    /* background-color: rebeccapurple; */
    padding-top: 14px;
}

.logo {
    height: 6em;
    will-change: filter;
    transition: filter 300ms;
    position: relative;
    z-index: 90;
    bottom: -85px;
    left: 480px;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #64f07eaa);
}

.loginForm {
    width: 600px;
    height: 380px;
    margin-top: -78px;
    margin-left: 400px;
    background-color: #353535;
    /* background-color: #21252b; */
    padding: 7%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.loginForm input {
    height: 36px;
    width: 90%;
    border-radius: 5px;
    padding: 3px 12px;
}

.loginForm label {
    width: 90%;
}

.loginForm input:focus {
    outline: none;
}

/* TERMINATOR *//* TERMINATOR *//* TERMINATOR *//* TERMINATOR *//* TERMINATOR *//* TERMINATOR *//* TERMINATOR *//* TERMINATOR *//* TERMINATOR */

.orders {
    display: flex;
    gap: 25px;
    flex-direction: row;
    /* background-color: blue; */
    position: absolute;
    top: 18px;
    right: 13px;
}

.sideBar {
    width: 235px;
    height: 752px;
    border-radius : 12px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    color: black;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    left: 20px;
}

.sideBarTop,
.sideBarBottom {
    display: flex;
    flex-direction: column;
    /* background-color: cadetblue; */
    background-color: #21252b;;
    row-gap: 10px;
    height: 50%;
    padding: 20px 13px;
    border-radius: 12px;
    /* align-items: center; */
    /* justify-content: center; */
    font-weight: 600;
    letter-spacing: .5px;
}

.sideButton {
    display: flex;
    height: 60px;
    /* background-color: bisque; */
    /* background-color: #03665c; */
    background-color: #17a2b8;
    border-radius: 12px;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
    border: 2px solid #03665c;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sideButton.active {
    /* background-color: #4CAF50; */
    background-color: #03665c;
    color: white;
}

.dashboard {
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.orderTemplate {
    position: relative;
    width: 1200px;
    height: 700px;
    /* max-height: 700px; */
    /* background-color: cadetblue; */
    background-color: #21252b;
    /* background-color: rgb(40, 44, 52); */
    border-radius : 12px;
    padding: 26px 26px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    overflow-x: hidden;
    overflow-y: scroll;
    /* margin-bottom: 400px; */
    gap: 10px;
}

.bungkus {
    display: flex;
    flex-direction: row;
    gap: 15px;
    color: #353535;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.menus {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menusItem {
    /* background-color: #4CAF50; */
    background-color: #03665c;
    color: aliceblue;
    padding: 11px 16px;
    border-radius: 11px;
    width: 200px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}

.menusIcon {
    display: flex;
    justify-content: center;
}

.ingredients {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ingredientsItem {
    background-color: #4CAF50;
    /* background-color: rgb(40, 44, 52); */
    padding: 8px 16px;
    border-radius: 11px;
    width: 200px;
    color: aliceblue;
}

.orderQueue {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.orderHistory {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    /* background-color: aqua; */
    /* padding: 10px; */
}

.orderItem {
    /* background-color: #4CAF50; */
    background-color: rgb(40, 44, 52);
    padding: 11px 16px;
    border-radius: 11px;
    width: 1000px;
}
    
.orderForm {
    /* width: 600px; */
    height: 100%;
    background-color: #353535;
    /* background-color: #21252b; */
    padding: 7%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 1px;
}

.orderForm input {
    height: 36px;
    width: 90%;
    border-radius: 5px;
    padding: 3px 16px;
}

.orderForm label {
    width: 90%;
    margin-bottom: -5px;
}

.orderForm input:focus {
    outline: none;
}

.menuOpt {
    /* background-color: #4CAF50; */
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.menusOptions {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    width: 400px;
}

.menusOptions input {
    width: 30px;
    margin-right: 130px;
}

.menusOptions label {
    margin-top: 8px;
}

.statusSelect {
    width: 150px;
    height: 50px;
    padding: 15px;
    /* border: none; */
    border-radius: 8px;
    margin-left: -810px;
    margin-bottom: 16px;
}

.paok {
    color: #353535;
}