#root {
    max-width: 1480px;
}

body {
    overflow: hidden;
    width: 100vw;
    background-color: rebeccapurple;
    padding-top: 14px;
}

.logo {
    height: 5em;
    will-change: filter;
    transition: filter 300ms;
    position: relative;
    z-index: 90;
    bottom: -65px;
    left: -15px;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #64f07eaa);
}

form {
    width: 600px;
    height: 380px;
    margin-top: -82px;
    margin-left: -68px;
    background-color: #353535;
    padding: 7%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

form input {
    height: 36px;
    width: 90%;
    border-radius: 5px;
    padding: 3px 12px;
}

form label {
    width: 90%;
}

form input:focus {
    outline: none;
}

/* TERMINATOR *//* TERMINATOR *//* TERMINATOR *//* TERMINATOR *//* TERMINATOR *//* TERMINATOR *//* TERMINATOR *//* TERMINATOR *//* TERMINATOR */

.orders {
    display: flex;
    gap: 25px;
    flex-direction: row;
    background-color: blue;
    position: absolute;
    top: 18px;
    right: 13px;
}

.dashboard {
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.sideBar {
    width: 235px;
    height: 752px;
    border-radius : 12px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    color: black;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    left: 20px;
}

.sideBarTop,
.sideBarBottom {
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    row-gap: 10px;
    height: 50%;
    padding: 20px 7px;
    border-radius: 12px;
}

.sideButton {
    height: 60px;
    background-color: bisque;
    border-radius: 12px;
    padding: 10px 20px;
}

.orderTemplate {
    position: relative;
    width: 1200px;
    height: 700px;
    background-color: cadetblue;
    border-radius : 12px;
    padding: 26px;
    display: flex;
    flex-direction: column;
}