@media screen and (max-width: 770px) {

    .orderTemplate {
        position: relative;
        width: 550px;
        height: 700px;
    }

    .sideBar {
        width: 125px;
        position: fixed;
        left: 10px;
    }

    .bungkus {
        display: flex;
        flex-direction: row;
        /* flex-direction: column; */
        flex-wrap: wrap;
        gap: 15px;
        color: #353535;
        font-weight: 600;
        letter-spacing: 0.3px;
        /* background-color: red; */
    }
}