@media screen and (max-width: 770px) {

    .orderTemplate {
        position: relative;
        width: 550px;
        height: 700px;
    }

    .sideBar {
        width: 125px;
        position: fixed;
        left: 10px;
    }

    .bungkus {
        display: flex;
        flex-direction: row;
        /* flex-direction: column; */
        flex-wrap: wrap;
        gap: 15px;
        color: #353535;
        font-weight: 600;
        letter-spacing: 0.3px;
        /* background-color: red; */
    }

    .menuOpt {
        width: 90%;
        display: flex;
        /* background-color: rebeccapurple; */
        flex-direction: column;
    }

    .menuOpt2 {
        margin-left: -10px;
    }

    .statusSelect {
        margin-left: -290px;
    }

    .menusItem {
        padding: 25px 18px;
        width: 231px;
    }

    .ingredientsItem {
        padding: 25px 19px;
        width: 135px;
        font-size: 12px;
    }
}